@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}
body {
  overflow: auto;
  background: #000000;
  background-size: cover;
  color: white;
  font-size: 16px; /* width 1512 */
}

.App {
  height: 100%;
  max-height: max-content;
  min-height: 100%;
}
@media (min-width: 1663px) {
  html {
    font-size: 17.6px;
  }
}
@media (min-width: 1814px) {
  html {
    font-size: 19.2px;
  }
}
@media (min-width: 1965px) {
  html {
    font-size: 20.8px;
  }
}
@media (min-width: 2116px) {
  html {
    font-size: 22.4px;
  }
}
@media (min-width: 2267px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 2418px) {
  html {
    font-size: 25.6px;
  }
}
@media (min-width: 2569px) {
  html {
    font-size: 27.2px;
  }
}

.font-HelveticaNeue {
  transform: translateY(0.1em);
}

.bg-i1 {
  background: url("/bg.svg") center no-repeat;
  background-size: cover;
}

.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
::-webkit-scrollbar {
  border-radius: 100px;
  width: 0.75rem;
  height: 0.75rem;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}
::-webkit-scrollbar-button {
  display: none;
}

.fix-v-center {
  transform: translateY(-10%);
}

.fix-v-center-inflex {
  transform: translateY(-5%);
}

.alexandriaFont {
  font-family: "Alexandria", sans-serif;
}

.asFont {
  font-family: "Albert Sans", sans-serif;
}
